/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'Apple SD Gothic Neo','NotoSans',sans-serif;color:#333;letter-spacing:-0.04em;word-break:keep-all;word-wrap:break-word}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
iframe, img{border:0 none;vertical-align:top}

/* 스크롤바 */
html,body{height:100%}
body > div:first-child{height:100%;overflow:auto}
html *{box-sizing:border-box;scrollbar-arrow-color:#CCC;scrollbar-face-color:#CCC}
html *::-webkit-scrollbar{width:8px;height:8px}/* 스크롤 바 전체 너비 */
html *::-webkit-scrollbar-thumb{background-color:#CCC;border-radius:3px}/* 현재 게이지 */
