.container{width:1100px;height:100%;margin:0 auto;padding:72px 0 59px}

.main{display:flex;align-items:center;justify-content:center;min-height:100%;padding:80px 30px 120px}
.main.typeFull{}

.footer{position:absolute;bottom:0;left:0;right:0;padding:20px 30px;border-top:1px solid #eaeaea;justify-content:center;align-items:center;background-color:#fff}
.footer a{display:flex;justify-content:center;align-items:center;flex-grow:1}
